.env
.cache/
.venv/
__pycache__
.~lock.WLTP_project_BSFC.xlsx#
build/
dist/

# Simulation output files
simulation_log.csv
trajectory.png
trajectory_animation.mp4
trajectory_animation.gif

*.png
*.csv
*.gif
*.mp4